:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
  background: radial-gradient(circle at 50% 0%, #8c3a10 0%, #3d2d00 60%, #000000 100%);
  background-attachment: fixed;
}